# ---- Angular / Node ----
node_modules/
dist/
tmp/
out-tsc/
coverage/

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment files (segredos locais)
src/environments/environment.local.ts
src/environments/environment.*.local.ts

# Angular cache
.angular/cache/
.angular/

# Build outputs
*.tgz

# OS
.DS_Store
Thumbs.db

# ---- Optional: se usar Docker ----
/docker-compose.override.yml
/.env
/.env.local